html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: blanchedalmond;
}

header {
    background-color: var(--header-color);
    padding: 30px 0;
}

header h1 {
    text-align: center;
    font-family: "logo";
    color: white;
    font-size: 3rem;
    text-shadow: 3px 3px 5px black;
}

#main {
    display: flex;
    /*flex-direction: row;*/
}

#menu {
    width: 20%;
    background-color: var(--menu-color);
    color: black;
    padding: 20px 10px;
}

#menu span {
    font-family: "regular";
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

#menu li {
    font-family: "regular";
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
}

#menu li:hover {
    color: rgb(218, 232, 237);
}

#content {
    width: 80%;
    padding: 30px 20px;
    background-color: var(--content-color);
}

#content-title {
    font-family: "regular";
    text-align: center;
    font-size: 2rem;
}

.fotocard {
    background-color: var(--movie-card-color);
    border-radius: 50px;
    width: 70%;
    margin: 50px auto;
    display: flex;
    padding: 40px;
}

.fotocard img {
    width: 50%;
}

.fotocard span {
    width: 50%;
    padding: 0 20px;
    font-family: "regular";
    font-size: 1rem;
}

footer {
    background-color: var(--footer-color);
    padding: 50px 20px;
}

footer span {
    color: white;
    font-family: "bold";
    font-size: 1rem;
}